* {
	box-sizing: border-box;
}

/* div {
	width: 80px;
	height: 20px;
	font-size: 16px;
	color: red;
	border: 1px solid black;
	text-align: left;
} */

/* ((((((((19)))))))) */
/* .container {
	margin-top: 50px;
	height: auto;
}

.boto {
	margin-top: 20px;
	margin-left: 50%;
}

.sepa {
	margin-top: 15px;
	border-top: 1px solid black;
	width: 100%;
	height: auto;
} */
/* (((((((((24)))))))))
body {
	background-color: aqua;
}

.p1,
.p2,
.p3 {
	width: 30px;
	height: 30px;
	margin-left: 10px;
	border: 1px solid black;
}

.p1 {
	background-color: #ff0000;
}

.p2 {
	background-color: #ffa07a;
}

.p3 {
	background-color: lawngreen;
}

(((((((((((((()))))))))))))) */
